In [15]:
import pandas as pd
from fbprophet import Prophet

# データフレームの読み込み
df = pd.read_csv(r"C:\Users\sebun takahashi\Desktop\Python tutorial\prophet\stockdata\6758_2015_2021.csv")
# データフレームの出力
df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']
df

            Date     Open     High      Low    Close    Volume  Adj Close
0     2015-01-05   2471.5   2479.0   2408.5   2468.5   7626800     2468.5
1     2015-01-06   2399.0   2466.0   2397.0   2439.5   7926500     2439.5
2     2015-01-07   2422.5   2590.5   2421.0   2552.5  15640000     2552.5
3     2015-01-08   2560.5   2613.5   2527.5   2565.0  11345200     2565.0
4     2015-01-09   2584.0   2629.0   2576.0   2599.0   9552200     2599.0
...          ...      ...      ...      ...      ...       ...        ...
1484  2021-02-12  11965.0  12000.0  11785.0  11845.0   3838900    11845.0
1485  2021-02-24  11840.0  11880.0  11325.0  11325.0   6443800    11325.0
1486  2021-02-26  11150.0  11375.0  11120.0  11120.0   6163800    11120.0
1487  2021-03-03  11275.0  11390.0  11210.0  11330.0   3451400    11330.0
1488  2021-03-09  10800.0  10885.0  10580.0  10810.0   6083500    10810.0

[1489 rows x 7 columns]

In [16]:
# カラム名をdsとyに変更
df = df.rename(columns={'Date':'ds', 'Adj Close':'y'})
df

              ds     Open     High      Low    Close    Volume        y
0     2015-01-05   2471.5   2479.0   2408.5   2468.5   7626800   2468.5
1     2015-01-06   2399.0   2466.0   2397.0   2439.5   7926500   2439.5
2     2015-01-07   2422.5   2590.5   2421.0   2552.5  15640000   2552.5
3     2015-01-08   2560.5   2613.5   2527.5   2565.0  11345200   2565.0
4     2015-01-09   2584.0   2629.0   2576.0   2599.0   9552200   2599.0
...          ...      ...      ...      ...      ...       ...      ...
1484  2021-02-12  11965.0  12000.0  11785.0  11845.0   3838900  11845.0
1485  2021-02-24  11840.0  11880.0  11325.0  11325.0   6443800  11325.0
1486  2021-02-26  11150.0  11375.0  11120.0  11120.0   6163800  11120.0
1487  2021-03-03  11275.0  11390.0  11210.0  11330.0   3451400  11330.0
1488  2021-03-09  10800.0  10885.0  10580.0  10810.0   6083500  10810.0

[1489 rows x 7 columns]

In [19]:
# Prophetのインスタンス化
m = Prophet()
# fitメソッドでデータを学習させる
m.fit(df)
# make_future_dataframeメソッドで予測分の未来のデータフレームの作成
future = m.make_future_dataframe(periods=250)
# 月曜=0,火曜=1,水曜=2,木曜=3,金曜=4,土曜=5,日曜=6
future = future[future['ds'].dt.weekday < 5]
# 予測する
forecast = m.predict(future)
# 予測結果の描画
#fig1 = m.plot(forecast)
# トレンド、周期性の描画
#fig2 = m.plot_components(forecast)

# plotlyを使って描画
from fbprophet.plot import plot_plotly
import plotly.offline as py

fig1 = plot_plotly(m, forecast)
py.plot(fig1)

INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

'temp-plot.html'